* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* === COLOR PROPERTIES === */
  --bg-primary-color: #040924;
  --bg-input: #DCE2E9;
  --bg-button: #02799D;
  --bg-button-hover: #055a74;
  --bg-error-top: #F03E3E;
  --border-bottom-input: rgba(73, 80, 87, 0.3);
  --border-outline-input: #02799D;
  --border-top-input: #02799D;
  --title-heading: #0C3440;
  --title-label: #00453A;
  --text-button: white;
  --text-error-top: white;
  --text-input: #212529;
  --text-placeholder-input: rgba(73, 80, 87, 0.5);

  /* === FONT PROPERTIES === */
  font-size: 62.5%;
}

body {
  background-color: var(--bg-primary-color);
  font-family: 'Roboto', sans-serif;
}

body,
input,
button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
}

.card {
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem;
  margin-inline: auto;
  max-width: 42.8;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;
}

form {
  width: 32rem;
}

form h1 {
  margin-bottom: 3.2rem;
}

form input {
  background-color: var(--bg-input);
  border: 1px solid var(--border-top-input);
  border-radius: 0.4rem;
  padding: 1.6rem;
  width: 100%;
}

form input:focus {
  outline: 2px solid var(--border-outline-input);
}

form input::placeholder {
  color: var(--text-placeholder-input);
}

form label {
  color: var(--title-label);
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
}

.input-wrapper+.input-wrapper {
  margin-top: 1.6rem;
}

form button {
  align-items: center;
  background-color: var(--bg-button);
  border: none;
  border-radius: 0.4rem;
  color: var(--text-button);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  gap: 0.8rem;
  justify-content: center;
  margin-top: 3.2rem;
  padding: 1.6rem;
  transition: 0.3s;
  width: 100%;
}

form button:hover {
  background-color: var(--bg-button-hover);
}

/* Modal */

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  inset: 0;
  opacity: 0;
  place-content: center;
  position: absolute;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  transition: transform .3s;
}

.modal button:hover {
  transform: scale(1.1);
}